@import "tailwindcss";

@theme {
  --color-background-blue: #5046e5;
  --color-background-white: #ffffff;
  --color-background-offwhite: #f0f1f2;
  --color-logo-blue: #282373;
  --color-purple: #8743be;
  --color-black: #000000;
  --color-lavendar: #d8dcf8;
  --color-light-blue: #4A90E2; 
  --color-yellow: #E5BE46;
  --font-Sonsie-One: "Sonsie One", cursive;
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Apply global font and reset */
body {
  font-family: var(--font-sans);
}

/* Target only the floating elements */
.MuiPopover-root,
.MuiModal-root,
.MuiSelect-root .MuiPopover-paper,
.MuiAutocomplete-popper {
  z-index: 40 !important;
}

.recharts-tooltip-wrapper {
  z-index: 40 !important;
}